*{padding: 0px; margin: 0px;}
HTML, BODY { height: 100%; }
BODY {
  padding: 0;
  margin: 0;
  color: #000000 !important;
  font-size: 11px;
  font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: #f3f0e9;
}

H1, H2, H3 {margin: 0px; line-height: normal;}
H2 {font-size: 14px;}
H3 {font-size: 12px;}

img{border: 0;}

A {text-decoration: underline; color: #0069bf;}
a:focus {outline: none;}

UL LI {line-height: 17px;}

OL {margin-left: 33px;}
OL LI {padding: 1px 0 1px 0px;}

table{
  border-collapse: collapse;
  empty-cells: show;
}


#main_td{
  vertical-align: top;
}
#footer_td{
  vertical-align: bottom;
}
#mid21 {
clear: both;
}

FORM {
	margin: 0;
	padding: 0;
	}
/* -- защита мыла -- */
p span.displaynone { display:none; }
/*  —пейсер  */
div.spacer {font-size: 0px; line-height: 0px; margin: 0px; padding: 0px;	background: transparent; border: none; display: block; visibility: hidden;}
div.spacer2 {font-size: 0px; line-height: 0px; margin: 0px; padding: 0px;	 background-color: #f3f0e9; border: none; display: block; visibility: hidden;}

#head{
  margin: 0 0 0 33px;
}
#head .table{
  background-color: #fff;
  width: 959px;
}
#head .table td{
  vertical-align: top;
}
#head .table .n1{
  background-image: url(/common/img/head/n1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 252px;
  height: 143px;
}
#head .table .n1 .div_n1{
  margin: 22px 0 0 19px;
}
#head .table .n1 .div_n1 UL LI{
  list-style: none;
  font-size: 11px;
  font-family: Tahoma;
  text-transform: uppercase;
  color: #c6deca;
}
#head .table .n1 .div_n1 a{
   color: #c6deca;
  font-size: 11px;
  font-family: Tahoma;
 text-transform: uppercase;
}

#head .table .n2{
   text-align: center;
}
#head .table .n2 img{
  margin-top: 16px;/* 46px 0 44px*/
}
#head .table .n3{
 background-image: url(/common/img/head/n3.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 491px;
}
#head .table .n3 .div_n3{
 margin: 8px 0 0 33px;
}
#head .table .n3 .div_n3 table{
  width: 100%;
}
#head .table .n3 .div_n3 .n3_1{
   padding-top: 10px;
}
#head .table .n3 .div_n3 .n3_1 UL LI{
  list-style: none;
  font-size: 11px;
  font-family: Tahoma;
  color: #bbe809;
  text-transform: uppercase;
}
#head .table .n3 .div_n3 .n3_1 a{
  font-size: 11px;
  font-family: Tahoma;
  color: #ffffff;
  font-weight: normal;
/* color: #bbe809;
  font-weight: bold; */
  text-transform: uppercase;
}
#head .table .n3 .div_n3 .d_nav{
 margin-right: 0px;
}
#head .table .n3 .div_n3 .d_nav div {
 display: inline;
}
#head .table .n3 .div_n3 .d_nav a {
 font-size: 11px;
  font-family: Tahoma;
  color: #99cc33; /*color: #76b432;*/
}
#head .table .n3 .div_n3 .d_nav a:hover {
 font-size: 11px;
  font-family: Tahoma;
  color: #99cc33;
  font-weight: bold; /*color: #76b432;*/
}
#head .table .n3 .div_n3 .d_nav img {
 margin-right: 12px;
}
#head td.n3_2{
  text-align: right;
}
#head .table .n3 .div_n3 .phon{
 margin: 34px 52px 0 0;
 font-size: 24px;
 font-family: Arial;
 color: #fff;
}
#head .table .n3 .div_n3 .phon span{
  font-weight: bold;
}
#head .table .n3 .div_n3 .zvonki{
 margin: 0 86px 0 0;
 color: #bbe809;
}
/* ========== шапка дл€ второй страницы ======== */
#head_2{
  margin: 0 0 0 5px;
  position: absolute;
  top: 0px;
  background-image: url(/common/img/head/nn.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 5;
}
#head2{
  margin: 0;
  position: absolute;
  top: 0px;
  z-index: 10;
}
#head2 .table{
  width: 959px;
}
#head2 .table td{
  vertical-align: top;
}
#head2 .table .n1{
  width: 252px;
  height: 143px;
}
#head2 .table .n1 .div_n1{
  margin: 22px 0 0 19px;
}
#head2 .table .n1 .div_n1 UL LI{
  list-style: none;
  font-size: 11px;
  font-family: Tahoma;
   text-transform: uppercase;
  color: #fff;
}
#head2 .table .n1 .div_n1 a{
   color: #fff;
  font-size: 11px;
  font-family: Tahoma;
  text-transform: uppercase;
  font-weight: bold;
}

#head2 .table .n2{
/*   text-align: center;   */
   background: transparent;
     padding: 0px 0px 0px 10px;
}
#head2 .table .n2 img{
  /* margin-top: 16px;*//* 46px 0 44px*/
/*  margin: 0px 0px 0px 10px;*/
}
#head2 .table .n3{
  width: 491px;
}
#head2 .table .n3 .div_n3{
 margin: 10px 0 0 33px;
}
#head2 .table .n3 .div_n3 table{
  width: 100%;
}
#head2 .table .n3 .div_n3 .n3_1{
   padding-top: 0px;
}
#head2 .table .n3 .div_n3 .n3_1 UL LI{
  list-style: none;
  font-size: 11px;
  font-family: Tahoma;
  text-transform: uppercase;
/*  color: #bbe809; */
}
#head2 .table .n3 .div_n3 .n3_1 a{
  font-size: 11px;
  font-family: Tahoma;
  color: #ffffff;
  font-weight: normal;
/*  color: #bbe809;
  font-weight: bold;*/
  text-transform: uppercase;
}
#head2 .table .n3 .div_n3 .d_nav{
 margin-right: 0px;
}
#head2 .table .n3 .div_n3 .d_nav a{
 font-size: 11px;
  font-family: Tahoma;
  color: #99cc33;
}
#head2 .table .n3 .div_n3 .d_nav img{
 margin-right: 12px;
}
#head2 td.n3_2{
  text-align: right;
}
#head2 .table .n3 .div_n3 .phon{
 margin: 34px 52px 0 0;
 font-size: 24px;
 font-family: Arial;
 color: #fff;
}
#head2 .table .n3 .div_n3 .phon span{
  font-weight: bold;
}
#head2 .table .n3 .div_n3 .zvonki{
 margin: 0 68px 0 0;
 color: #bbe809;
}
/* ========== ----------------- ======== */
.top_nav{
  margin: 32px 0 0 80px;
}

#footer_td .footer{
   margin: 50px 0 14px 8px;
   font-size: 10px;
   font-family: Tahoma;
   color: #b3b2b1;
}
#footer_td .footer a{
   color: #666666;
}
#footer_td .footer .foot_td1{
   width: 237px;
   vertical-align: top;
}
#footer_td .footer .foot_td2{
   width: 499px;
   vertical-align: top;
}
#footer_td .footer .foot_td3{
 vertical-align: middle;
}
#footer_td .footer .foot_td3 input{
   background-color: #fff;
   font-size: 9px;
   padding: 3px 0 3px 5px;
   width: 186px;
   color: #8a8a8a;
}

#footer_td .footer .foot_td3 .input{
  background: url(/common/img/search/bg-search.jpg) no-repeat 0px 50%;
  padding: 3px 10px 3px 13px;
  height: 21px;
}
#footer_td .footer .foot_td3 .input input {
  width: 162px;
  border: none;
  font-size: 10px;
  color: #84847e;
  background: transparent;
}
#footer_td .footer .foot_td3 div.input_image input{
   width: 29px;
   height: 19px;
   background: transparent;
}

.div_tizer{
  position: absolute;
  z-index: 1;
  margin: 150px 0 0 0;
}

#tizer{
  width: 971px;
  height: 230px;
  background-image: url(/common/img/tizer/tizer1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#tizer2{
  width: 971px;
  height: 230px;
  background-image: url(/common/img/tizer/tizer2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#tizer3{
  width: 971px;
  height: 230px;
  background-image: url(/common/img/tizer/tizer3.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#tizer4{
  width: 971px;
  height: 230px;
  background-image: url(/common/img/tizer/tizer4.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
#tizer5{
  width: 971px;
  height: 230px;
  background-image: url(/common/img/tizer/tizer5.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.div_slogan{
  position: absolute;
  z-index: 10;
  margin: 199px 0 0 717px;
}
.div_slogan h1{
   color: #fff;
   font-size: 20px;
   font-weight: normal;
}
.div_slogan UL LI{
   color: #d3e5bc;
   font-size: 15px;
   font-weight: normal;
   list-style: none;
   padding-left: 37px;
   background-image: url(/common/img/tizer/li.gif);
   background-position: 0 5px;
   background-repeat: no-repeat;
   margin-top: 13px;
}
.div_slogan UL LI a{
   color: #d3e5bc;
}

#menu{
  position: absolute;
  z-index: 15;
  margin: 369px 0 0 6px;
}
#menu2{
  position: absolute;
  z-index: 2;
  margin: 115px 0 0 5px;
}
#eggs0{
  margin: 0 0 0 5px;
}
#eggs{
width: 971px;
}
#eggs table td{
  vertical-align: top;
}
.obertka{
  margin-right: 13px;
}

#eggs table td .eggs1{
  background-image: url(/common/img/eggs/eggs1.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 226px;
  height: 323px;
}
#eggs table td .eggs1 .eggs1_cont{
   padding: 147px 0 0 13px;
   font-size: 17px;
   font-family: Arial;
   color: #666666;
}
#eggs table td .eggs1 .link1{
   padding: 20px 0 0 131px;
}
#eggs table td .eggs1 .link1 a{
   font-size: 11px;
   font-family: Arial;
   color: #999999;
}
#eggs table td .eggs1 .link2{
   padding: 0px 0 0 131px;
}
#eggs table td .eggs1 .link2 a{
   font-size: 12px;
   font-family: Arial;
   color: #d6d6d6;
}
#eggs .eggs2{
  background-image: url(/common/img/eggs/eggs2.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 226px;
  height: 323px;
}
#eggs .eggs2 .news{
  padding: 9px 0 0 16px;
}
#eggs .eggs2 .news .data span{
  font-family: Georgia;
  font-size: 14px;
  color: #76a63e;
  padding: 0 11px 0 0;
   background-image: url(/common/img/eggs/data.gif);
  background-position: right 2px;
  background-repeat: no-repeat;
}
#eggs .eggs2 .news p {
 text-indent: 36px;
 padding: 15px 0 11px 0;
 color: #666666;
 font-size: 11px;
}
#eggs .eggs2 .news .rss{
 float: left;
 margin: 0px 98px 0 0;
}
#eggs .eggs2 .news .all_hews{
  padding-top: 24px;
}
#eggs .eggs2 .news .all_hews a{
 color: #d6d6d6;
 font-size: 10px;
}

#eggs .eggs3{
  background-image: url(/common/img/eggs/eggs3.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 226px;
  height: 323px;
}
#eggs .eggs3 .form {
   padding: 30px 0 0 38px;
}
#eggs .eggs3 .form select{
  width: 160px;
  color: #b1b1b1;
  font-size: 11px;
}
#eggs .eggs3 .map{
  padding: 2px 0 26px 7px;
}

#eggs .eggs3 .link{
   padding: 0px 0 53px 34px;
   color: #666666;
}
#eggs .eggs3 .link a{
   font-size: 12px;
   font-family: Arial;
   color: #006633;
}

#eggs .eggs3 .feedback{
  padding-left: 115px;
}
#eggs .eggs3 .feedback a{
   color: #999999;
}


#eggs .eggs4{
  background-image: url(/common/img/eggs/eggs4.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 226px;
  height: 323px;
}
#eggs .eggs4 .eggs4_v{
  padding: 16px 0 0 13px;
}

#eggs .eggs4 .eggs4_v .line{
  background-image: url(/common/img/eggs/line.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 198px;
  height: 2px;
  margin: 6px 0 7px 0;
  font-size: 0px;
  line-height: 0px;
}

#eggs .eggs4 .eggs4_v .table1_eggs4{
  margin: 0px 0 0 16px;
}
#eggs .eggs4 .eggs4_v .table1_eggs4 .img1 img{
  margin: 0 0 4px 0;
}
#eggs .eggs4 .eggs4_v .table1_eggs4 .img2 img{
    margin: 10px 12px 0 10px;
}
#eggs .eggs4 .eggs4_v .table1_eggs4 .td2s{
  font-size: 18px;
  font-family: Arial;
  color: #339900;
  padding: 0;
}
#eggs .eggs4 .eggs4_v .table1_eggs4 .td2s div{
  font-size: 24px;
  font-family: Arial;
  color: #cc0000;
  font-weight: bold;
  padding: 0 5px 4px 0;
  margin: 0;
}
.table1_eggs4 .td2v{
  font-size: 13px;
  font-family: Tahoma;
  color: #283933;
  padding-top: 4px;
}
.table1_eggs4 .td2v div{
   padding-top: 6px;
}
#eggs .eggs4 .eggs4_v .all a{
 color: #999999;
 font-size: 11px;
 font-family: Arial;
}

.table2_eggs4{
  margin: 0 0 0 11px;
}
.table2_eggs4 .img2{
  vertical-align: bottom;
}

.table2_eggs4 .img2 img{
    margin: 9px 9px 0 10px;
}
.table2_eggs4 .schet{
 color: #283933;
 font-size: 15px;
 font-family: Arial;
 padding: 5px 0 0 13px;
}
.table2_eggs4 .all{
 padding-left: 27px;
}
.table2_eggs4 a{
   font-size: 11px;
   font-family: Arial;
   color: #999999;
}
.table2_eggs4 .name{
   font-size: 11px;
   font-family: Arial;
   color: #999999;
   text-transform: uppercase;
}

.table2_eggs4 .all a{
   font-size: 11px;
   font-family: Arial;
   color: #999999;
}


.table3_eggs4{
   margin: 0 0 0 30px;
}
.table3_eggs4 .img img{
   margin: 0 0 4px 0;
}
.table3_eggs4 .img2_1 img{
   margin: 11px 3px 0 10px;
}
.table3_eggs4 .img2 img{
   margin: 9px 3px 0 10px;
}


.table3_eggs4 .schet{
 padding: 0 0 0 13px;
}
.table3_eggs4 .gold{
  color: #197b30;
  font-size: 12px;
  font-family: Tahoma;
  padding: 5px 0 0 0;
}
.table3_eggs4 .gold span{
  color: #283933;
}
.table3_eggs4 .plat{
  color: #197b30;
  font-size: 12px;
  font-family: Tahoma;
  padding: 5px 0 2px 0;
}
.table3_eggs4 .plat span{
  color: #283933;
}
/* ======= контентна€ часть ========= */
#content{
  margin: 0 0 0 5px;
}
#content_w{
  width: 960px;
}
#id0{
  margin-right: 10px;
}
table.cont_table_lm_rb td{
  vertical-align: top;
}
table.cont_table_lm_rb td#right_div{
 width: 714px;
}

/* надутое белое */
/*.right_div0{background-color: #fff;}
.right_div1{
 background: url(/img/table/left_col/right_div1.gif) left top no-repeat;}
.right_div2{
 background: url(/img/table/left_col/right_div2.gif) right top no-repeat;}
.right_div3{ padding-top: 27px;
background: url(/img/table/left_col/right_div3.gif) left bottom no-repeat;}
.right_div4{
  padding: 0 30px 30px 30px;
background: url(/img/table/left_col/right_div4.gif) right bottom no-repeat; min-height: 100%;}
*/
.right_div0{background: url(/img/table/left_col/dop_blok_1.gif) right top repeat-y; background-color: #fff;}
.right_div1{
 background: url(/img/table/left_col/dop_blok_2.jpg) left top no-repeat;}
.right_div2{
 background: url(/img/table/left_col/dop_blok_head.jpg) right top no-repeat;}
.right_div3{ padding-top: 27px;
background: url(/img/table/left_col/dop_blok_5.jpg) left bottom no-repeat;}
.right_div4{
  padding: 0 30px 30px 30px;
background: url(/img/table/left_col/dop_blok_6.jpg) right bottom no-repeat; min-height: 100%;
}
/* ========= */

#left_div .right_div0{background: url(/img/table/left_col/dop_blok_1.gif) right top repeat-y; background-color: #fff;}
#left_div .right_div1{
 background: url(/img/table/left_col/dop_blok_2.jpg) left top no-repeat;}
#left_div .right_div2{
 background: url(/img/table/left_col/dop_blok_head.jpg) right top no-repeat;}
#left_div .right_div3{ padding-top: 27px;
background: url(/img/table/left_col/dop_blok_5.jpg) left bottom no-repeat;}
#left_div .right_div4{
  padding: 0 30px 30px 30px;
background: url(/img/table/left_col/dop_blok_6.jpg) right bottom no-repeat; min-height: 100%;}

#right_div .right_div4 h1{
 font-size: 2em;
 font-family: Arial;
}

#content_w #left_div .index2{
  background: url(/common/img/menu2/fon_menu2.jpg) 0 0 no-repeat;
  width: 233px;
  height: 227px;
}

.index0 .index2{
  float: left;
}
.index2{
  background-image: url(/common/img/menu2/fon_menu2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 233px;
  height: 227px;
}
.index{
  background-image: url(/common/img/index.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 474px;
  height: 227px;
  float: left;
}
.in{
  padding: 24px 50px 0 36px;
}
.in h1{
  color: #006633;
  font-size: 15px;
  font-family: Tahoma;
  text-transform: uppercase;
}
.in p{
  color: #333333;
  font-size: 12px;
  font-family: Tahoma;
  padding: 26px 20px 0 47px;
}
.in p a{
  color: #4f9204;
}

.kartinki{
  float: left;
  margin-right: 0px;
}
.kartinki_{
  float: left;
}
.kartinki2{
  float: left;
  margin-right: 30px;
}
.kartinki_3{
  float: left;
  margin-right: 13px;
}
.kartinki_0{
  float: left;
  margin-right: 12px;
}
.i2{
  display: none;
}
.block_link2{
  background-image: url(/common/img/fon_s_chelami.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 227px;
  width: 228px;
  float: left;
}
.block_link2 .block_link2_a_li{
  margin: 199px 0 0 66px;
}
.block_link2 .block_link2_a_li ul li{
 padding-left: 18px;
 list-style: none;
 background-image: url(/common/img/block_link2_a_li.gif);
 background-position: left 3px;
  background-repeat: no-repeat;
}
.block_link2 .block_link2_a_li ul li a{
  color: #d8ebc1;
}
.block_link_ban{
  height: 227px;
  width: 228px;
  float: left;
}

#idh0{display: none;}
#idh1{display: none;}
#idh2{display: none;}
#idh3{display: none;}
#idh4{display: none;}
#idh5{display: none;}
#idh6{display: none;}
#idh7{display: none;}
#idh8{display: none;}
#idh9{display: none;}
#idh10{display: none;}
#idh11{display: none;}
#idh12{display: none;}
#idh13{display: none;}
#idh14{display: none;}
#idh15{display: none;}
#idh16{display: none;}


/* ======= ---------------- ========= */
.index3{
  background: url(/img/table/left_col/index3/index_r.gif) 0 0 repeat-y;
  background-color: #fff;
}
.index3_0{
  background: url(/img/table/left_col/index3/index_cv.gif) 0 0 repeat-x;
}
.index3_1{
  background: url(/img/table/left_col/index3/index_l.gif) right top repeat-y;
}
.index3_2{
  background: url(/img/table/left_col/index3/index3_lv.jpg) 0 0 no-repeat;
}
.index3_3{
  background: url(/img/table/left_col/index3/index3_rv.jpg) right top no-repeat;
}
.index3_4{
  background: url(/img/table/left_col/index3/index3_rn.jpg) no-repeat right bottom;
}
.index3_5{
  background: url(/img/table/left_col/index3/index3_ln.jpg) no-repeat left bottom ;
  padding: 20px 15px 26px 17px;
  width: 197px;
}
/* табы */
div.tabs div {margin: 15px 0 0 25px; clear: both;}

ul.tabNavigation li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tabNavigation li.tab1 a {
padding: 5px 6px 3px 8px;
 background-image: url(/common/img/menu2/fon_tab2.jpg);
color: #fff;
text-decoration: none;
font-size: 9px;
font-family: Arial;
}
ul.tabNavigation li.tab2_ a {
padding: 5px 18px 3px 8px;
 background-image: url(/common/img/menu2/fon_tab2.jpg);
color: #fff;
text-decoration: none;
font-size: 9px;
font-family: Arial;
}

ul.tabNavigation li.tab1 a.selected,
ul.tabNavigation li.tab1 a.selected:hover {
color: #666666;
background-image: url(/common/img/menu2/fon_tab1.jpg);
padding: 5px 5px 3px 8px;
}
ul.tabNavigation li.tab2_ a.selected,
ul.tabNavigation li.tab2_ a.selected:hover {
color: #666666;
background-image: url(/common/img/menu2/fon_tab2s.jpg);
padding: 5px 15px 3px 8px;
}
.imageLoader {
background: url(/common/img/menu2/fon_tab2s.jpg);
visibility: hidden;
}
ul.tabNavigation li a:focus {outline: 0;}

/*div.soderjimoe_taba ul{ margin: 0;}*/

div.soderjimoe_taba ul li{
font-size: 13px;
list-style: none;
background-image: url(/common/img/menu2/li_tab.gif);
background-position: left 6px;
background-repeat: no-repeat;
padding: 0 10px 2px 10px;
line-height: 19px;
}
div.soderjimoe_taba ul li a{
color: #666666;
}
div.soderjimoe_taba ul li a.tuta{
 color: #95c732;
}
/* ======= ---------------- ========= */
.clear{clear: both;}
table.cont_table_lb_rm td{
 vertical-align: top;
}
table.cont_table_lb_rm #left_div{
 /* float: left;*/
  width: 711px;
}
table.cont_table_no_l_r #right_div{
 /* float: left;*/
  width: 970px;
}
.left_div20{
 padding-right: 0px;
}

table.cont_table_lb_rm #dop_blok{
 width: 230px;
}
/* (перенесены стили в tanya.css) */

/* ======= шаблон калькул€тора ========= */
/*#left_div .calk{
  width: 710px;
}*/
.calk{
  background-image: url(/img/table/m-bg-t2.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
}
.calk_2{
  height: 38px;
  background-image: url(/img/table/m-u-rt2.jpg);
  background-position:  right top;
  background-repeat: no-repeat;
}
.calk_head{
  height: 38px;
  background-image: url(/img/table/m-u-lt2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
/*#left_div .calk_footer{
  width: 710px;
}*/
.calk_footer{
  background-image: url(/img/table/t_foot_x.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
  height: 28px;
}
.calk_footer2{
  background-image: url(/img/table/t_foot_left.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  height: 28px;
}
.calk_footer3{
  background-image: url(/img/table/t_foot_right.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  height: 28px;
}
/*#left_div .calk2{
  width: 710px;
}*/
.calk2{
  background-image: url(/common/img/calck2.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
}
.calk_head1{
  height: 38px;
  background-image: url(/common/img/head2_calck.jpg);
  background-position: left top;
  background-repeat: no-repeat;
}
.calk_head2{
  height: 38px;
  background-image: url(/common/img/head2_calck2.jpg);
  background-position: right top;
  background-repeat: no-repeat;
}
/*#left_div .calk2_nachinka1{
  width: 710px;
}*/
.calk2_nachinka1{
background-image: url(/img/table/calk2_nachinka1.gif);
  background-position: 0 0;
  background-repeat: repeat-y;
  background-color: #fff;
}
.calk2_nachinka2{
background-image: url(/img/table/calk2_nachinka2.gif);
  background-position: right top;
  background-repeat: repeat-y;
}
.table_nachinka2{
   padding: 15px 15px 12px 15px;
}
.table_nachinka2 table{
  width: 100%;
}
.table_nachinka2 table td{
   vertical-align: top;
   padding: 13px 0 10px 15px;
   color: #666666;
   font-size: 14px;
   font-family: Arial;
}
.table_nachinka2 table td strong{
   color: #005826;
   font-size: 14px;
   font-family: Arial;
   /*font-weight: normal;*/
    text-transform: uppercase;
    font-weight: normal;
}
tr.table_nachinka2_tr td{
  border-top: 1px solid #f5f3ee;
  border-bottom: 1px solid #f5f3ee;
  background-color: #fbfaf7;
}


/*#left_div .calk_footer_2{
  width: 710px;
}*/
.calk_footer_2{
  background-color: #97ca32;
  height: 10px;
  background-image: url(/img/table/calk_footer_2.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.calk_footer_3{
  height: 10px;
  background-image: url(/img/table/calk_footer_3.jpg);
  background-position: right top;
  background-repeat: no-repeat;
}

.calk_head h1{
   padding: 5px 0 0 22px;
    color: #fff;
    font-family: Arial;
    font-size: 25px;
    font-weight: normal;
}
.calk_head2 h1{
   padding: 10px 0 0 22px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
	/*font-size: 25px;*/
    font-weight: normal;
    text-transform: uppercase;
}
.nachinka{
   background-image: url(/img/table/nachinka_left.gif);
   background-position: 0 0;
   background-repeat: repeat-y;
}
.nachinka .nachinka2{
  background-image: url(/img/table/nachinka_right.gif);
   background-position: right top;
   background-repeat: repeat-y;
      padding-top: 27px;
}
.nachinka .nachinka2 .nachinka3{
  background-image: url(/img/table/nachinka_center.gif);
   background-position: left bottom;
   background-repeat: repeat-x;
}
/*div_{
    margin: 27px 0 17px 50px;
}*/
.nachinka4{
  background-image: url(/img/table/nachinka5_left.jpg);
   background-position: left bottom;
   background-repeat: no-repeat;
}
.nachinka5{
  background-image: url(/img/table/nachinka6_right.jpg);
   background-position: right bottom;
   background-repeat: no-repeat;
   padding-left: 50px;
}

.right_div_head{
  background-image: url(/common/img/fon_head_leftcol_div.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 34px;
  width: 235px;
}
.right_div_content{
background-image: url(/common/img/fon_content_leftcol_div.jpg);
  background-position: 0 0;
  background-repeat: repeat-y;
  width: 235px;
}
.right_div_content_1{
  padding: 0 0 0 30px
}
.right_div_content_li{
 background-image: url(/common/img/fon_li_leftcol_div.jpg);
  background-position: 0 0;
  background-repeat: repeat-y;
  width: 235px;
  padding: 12px 0 16px 0;
}
.right_div_content_li ul li{
 background-image: url(/common/img/menu2/li_tab.gif);
  background-position: 0 5px;
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 12px;
}
.right_div_content_li ul li a{
  color: #666666;
}
.right_div_footer{
  background-image: url(/common/img/fon_footer_leftcol_div.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 31px;
  width: 235px;
}

/* ======= ---------------- ========= */


/* раскрывающеес€, и не очень, меню слева */
.tbord2 .tbord2-r div {
  font-size: 0px;
  height: 15px;

}
.tbord2 .tbord2-r {
  font-size: 0px;
  height: 15px;
}
.tbord2 {
  font-size: 0px;
  height: 15px;
}

.tbord3 .tbord3-r div {
  font-size: 0px;
  height: 15px;

}
.tbord3 .tbord3-r {
  font-size: 0px;
  height: 15px;
}
.tbord3 {
  font-size: 0px;
  height: 15px;
}
/* меню слева */
.index3_5 .umenu { display:none; }
.index3_5 .umenu-s {
  padding: 10px 0px 12px 0px;
}
.index3_5 .umenu-s div {
  margin: 0px 0px 2px 0px;
  font-size: 1.05em;
  background: url(/common/img/l_menu/menu_left.gif)0 6px no-repeat;
  padding-left: 11px;
}
.index3_5 .umenu-s div a{
  font-size: 1.1em;
  color: #252525;
  text-decoration: underline;
}
.index3_5 .umenu-s div span a {
  color: #99cc33;
  text-decoration: none;
}
.index3_5 .openmenu {
  line-height: 18px;
 font-size: 1.05em;
}
.index3_5 .openmenu a{color: #252525; text-transform: uppercase;}

.index3_5 img.buttom {
  margin: 5px 0 0 0;
  width: 8px;
  cursor: pointer;
}
.index3_5 .umenu {
  padding: 3px 0px 8px 10px;
}
.index3_5 .umenu div {
  margin: 0px 0px 2px 0px;
}

/* ћеню без подпунктов */
.index3_5 .pad-menu {
  padding: 1px 0 2px 0;
  font-size: 1.05em;
  /*background: url(/common/img/l_menu/menu_left.gif)0 6px no-repeat;*/
}
.index3_5 .pad-menu td img{
 margin-right: 6px;
}
.index3_5 .pad-menu a{
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #252525;
  text-decoration: underline;
}
.zagtab td h2{
 display: none;
}

/* ======= ---------------- ========= */

.contright2 {
 z-index: 100;
 display: block;
}
.contright2 h2{
 font-size: 1.6em;
 font-family: Tahoma;
}
.contright2 h3 {
  font-size: 18px;
  font-weight: normal;
  color: #bec0bd;
  border-bottom: 1px solid #e4e6e1;
  padding: 0px 0px 7px 0px;
  margin: 0px 0px 19px 0px;
}
.contright2 h4 {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.contright2 p{
  font-size: 1.2em;
  margin: 0 0 10px 0;
}
.contright2 .tab2 tr td {
  font-size: 1em;
  color: #2d2e2c;
  border-top: 1px solid #f0f2ec;
  padding: 11px 0px 12px 0px;
  font-weight: normal;
}
div.right_div4 div.contright2 .tab2 tr td div.prim {
  font-size: 10px;
  color: #b5b7b2;
}
table.creditcalc tr td div.prim {
  font-size: 10px;
  color: #b5b7b2;
}
.prim {
  font-size: 10px;
  color: #b5b7b2;
}
/*div.right_div4 .tab2 tr td p strong{
  font-size: 14px;
  color: #757872;
  font-weight: normal;
}*/
.cbord2 .tab2 td span {
  color: #b5b7b2;
  clear: both;
  display: block;
}
.cbord2 ul li {
  /*font-size: 1.2em;*/
  padding: 1px 0px 0px 19px;
  
  margin: 0px 0px 14px 0px;
  list-style-image: none;
  list-style-type: none;
  background: url(/common/ibank/img/bul/li3.gif) no-repeat 0px 8px;
}
.cbord2 .tab2 {
  width: 100%;
}
form.feedback .tab2 td input.inp{
 width: 290px;
}
form.feedback .tab2 .inp_captcha{
  width: 150px;
}
div.right_div4 div.contright2 form.feedback .tab2 tr td {
  border-top: 0;
  vertical-align: top;
}
form.feedback .tab2 tr td textarea{
  width: 400px;
  margin-bottom: 10px;
}
form.feedback .tab2 tr td strong{
  font-size: 14px;
  color: #757872;
}
form.feedback .tab2 tr td select.width_175{
   width: 295px;
}
/*table.text .tab2{
  width: 100%;
}*/
table.text .tab2 td input.field{
 width: 290px;
}
table.text .tab2 td.r_otstup{
  padding-right: 15px;
}

.uniat{margin: 0 0 16px 0;}


/* ѕоиск */

.search_form {
	width: 920px;
	background: #f0f2ec url("/common/ibank/img/left_top_corner.gif") no-repeat left top;
}

.search_form div {
	background: url("/common/ibank/img/right_top_corner.gif") no-repeat right top;
}

.search_form div div {
	background: url("/common/ibank/img/left_bot_corner.gif") no-repeat left bottom;
}

.search_form div div div {
	background: url("/common/ibank/img/right_bot_corner.gif") no-repeat right bottom;
	padding: 20px 0 20px 31px;
}

.search_form table strong {
	font-size: 14px;
	color: #737471;
}

.search_form th,
.search_form td {
	text-align: right;
	vertical-align: middle;
}
.search_form th { padding-left: 10px; }
.search_form .first {
	width: 310px;
	text-align: left;
}

.search_form .bot6 {
	background: #f0f2ec url(/common/ibank/img/bg-srch_searchform.gif) no-repeat center right;
	width: 385px;
	text-align: right;
	padding: 0;
}

.search_form th input {
	position: relative;
	top: 1px;
}
.search_form .bot6 input {
	font-size: 11px;
	width: 370px;
	color: #949594;
	border: 0;
	background: transparent;
	margin: 5px 5px 5px 5px;
}

.search_div h4 {
	font-size: 14px;
	color: #737471;
	margin-bottom: 15px;
	display: block;
}
.search_div h4 strong {
	color: #2d2e2c;
	font-weight: bold;
}

.search_div .tlmenu {
  text-decoration: none;
  border-bottom: 1px dashed #138ba3;
}
.search_div p {
	font-size: 12px;
}

.page_navigator {
	margin-bottom: 20px;
}

.page_navigator td, .page_navigator th {
	vertical-align: middle;
	font-size: 12px;
	color: #737471;
}

.page_navigator th {
	padding-left:	6px;
}

.page_navigator .very_little_green_circle {
	background: url(/common/ibank/img/form/circle.gif) no-repeat center right;
	width: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 0 0 0 5px;
}

.page_navigator .results {
	padding: 0 7px 0 7px;
}

.page_navigator .page {
	padding: 0 9px 0 20px;
}

.page_navigator div.bot5 {
   background: url(/common/ibank/img/bg-srch_pager.gif) center center no-repeat; width: 58px;
}

.page_navigator .bot5 input {
   font-size: 11px;
   width: 45px;
   color: #949594;
   border: 0;
   background: transparent;
   margin: 5px 5px 5px 5px;
}

.page_navigator th input {
	position: relative; top: 2px;
}

.page_navigator .bot5 .submit {
   background: transparent url(/img/search.gif) no-repeat 0px 0px;
   border: 0;
   height: 36px;
   width: 89px;
   margin: 0 5px 0 5px;
}

.page_navigator .results span {
	font-size: 12px;
	color: #737471;
}

#hidden_pager, #syntax_block { display: none; }
#syntax_help { margin: 15px 0 0 0; }

.syntax_link {
	margin-top: 15px;
	padding: 30px 0 30px 38px;
	background: url(/common/ibank/img/bul/syntax.gif) no-repeat left center;
}
div .bulb-subs{
  text-align: right;
}

div .bulb-print a{
   line-height: 40px;
}

/* √алере€ дл€ правой колонки */
    .stepcarousel {
    position: relative; /*leave this value alone*/
    overflow: scroll; /*leave this value alone*/
    width: 180px; /*Width of Carousel Viewer itself*/
    height: 114px; /*Height should enough to fit largest content's height*/
    padding: 0 5px 0 0;
    z-index: 10;
    }

    .stepcarousel .belt {
    position: absolute; /*leave this value alone*/
    left: 0;
    top: 0;
    }

    .stepcarousel .panel {
    float: left; /*leave this value alone*/
    overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
    margin: 0 5px 0px 5px;
    width: 180px; /*Width of Carousel Viewer itself*/
    height: 114px;
    }

/* ============================ */
/* дл€ /ru/person/bank_cards/classical/visa_classic/cardform/ шаг 7, Countdown */
#dialog {position:absolute; top: 2110px; width:625px; padding:10px; z-index:200; background:#fff}
#dialog2 {position:absolute; top: 500px; width:625px; padding:10px; z-index:200; background:#fff}
#dialog-header {display:block; position:relative; width:611px; padding:3px 6px 7px; height:14px; font-size:14px; font-weight:bold}
#dialog-title {float:left}
#dialog-close {float:right; cursor:pointer; margin:3px 3px 0 0; height:11px; width:11px; background:url(/common/img/cardform/dialog_close.gif) no-repeat}
#dialog-content {display:block; /*height:160px;*/ padding:6px; color:#666666; font-size:13px}
#dialog-content ul li{ list-style: none; padding-left: 12px;  background-image: url(/common/img/menu2/li_tab.gif); background-position: left 8px; background-repeat: no-repeat;}
#dialog-mask {position:absolute; top:0; left:0; min-height:100%; width:100%; /*background:#66CC33; opacity:.10; filter:alpha(opacity=10);*/ z-index:100}

.success {background:#fff; border:1px solid #006633; border-top:none}
.successheader {color:#fff; border:1px solid #006633; background-color: #006633; border-bottom:none; font-family: Arial; text-transform: uppercase;}
table#podskazka_b td p strong a{
color: #006699;
font-size:12px;
text-transform:none; text-decoration: none; border-bottom: 1px dashed #006699;
}

/* ============================= */
/* регистраци€ MasterCard */

table.master{
  width: 520px;
 margin: 0 auto;
}
div.master_img{
  padding: 10px 20px;
  float: left;
}
.card_fon{
  position: absolute;
  z-index: 3100;
  width: 390px;
  height: 254px;
}
form.mac_buee{
position: absolute;
/*top: 165px; left: 24px;*/
z-index: 3106;
 margin: 0 0 0 10px;
 width: 390px;
}

form.mac_buee td p{
  padding-right: 40px;
}
.cifri{
 /* top: 104px; left: 253px; z-index: 3102; position: absolute; */
  margin: 102px 0 0 65px;
}
.cifri input{
  width: 92px;
  color: #666666;
  padding: 1px 0 2px 0;
  letter-spacing: 5px;
}
.card_fio{
/* position: absolute; z-index: 3104; top: 165px; left: 24px;*/
  margin: 165px 0 42px 14px;
}
.card_fio input{
  width: 163px;
  color: #666666;
  padding: 1px 0 2px 0;
}
input.mobila{
width: 139px;
color: #666666;
}
form.mac_buee p.error{
position: absolute;
z-index: 3110;
 margin: 20px 0 0 400px;
  font-weight: bold;
  font-size: 14px;
}
.poyasneniya{
position: absolute;
z-index: 3120;
 margin: 150px 0 0 400px;
}
/* ====================== */
.dop_serv ul{
  margin: 5px 0 5px 0;
}

div.zvizda{
 background: url(../img/rushechki/zvizda.gif) no-repeat  0 0;
 width: 50px;
 height: 45px;
}
div.important{
 background: url(../img/rushechki/important.gif) no-repeat  0 0;
  padding: 0 0 0 50px;
 height: 45px;
}
div.important h2{
  padding-top: 8px;
}














