    <footer id="footer" class="pure-g">
      <div class="inner pure-u-1">
        Released under the <a href="LICENSE">MIT license</a> on <a href="https://github.com/misharash/chair.lpi.ru">Github</a> by <a href="mailto:edigaryev.ig@phystech.edu">students</a>, 2016.<br />
        Powered by <a href="http://picocms.org/">Pico</a> CMS &ndash;
        With Just Pico template by <a href="http://blocknot.es">mat</a>.
      </div>
    </footer>
  </div> <!-- layout closing -->
  <div id="overlay"></div>
  <script src="{{ theme_url }}/js/main.js"></script>
</body>
</html>
