	<footer id="footer">
		<div class="inner">
			Released under the <a href="https://github.com/misharash/chair.lpi.ru/blob/master/LICENSE">MIT license</a> on
			<a href="https://github.com/misharash/chair.lpi.ru">Github</a> by <a 
href="mailto:rashkovetskiy.mm@phystech.edu">students</a>, 2016.<br />
			<a href="http://chair.lpi.ru/rus/">Старая версия сайта здесь</a>.
		</div>
	</footer>

</body>
</html>
