{{ include('header.twig') }}

	<section id="content">
		<div class="inner">
			{% if meta.title %}<h1>{{ meta.title }}</h1>{% endif %}
			{{ content }}
		</div>
	</section>

{{ include('footer.twig') }}
